html {
  scroll-behavior: smooth;
}
header{
    position: sticky;
    top: 0;
    z-index: 1000; 
}
nav ul{
    margin-left: 5px;
    border: 2px solid black;
    background-color: beige;
    width: 50px;
    height: 90vh;
    list-style-type: none;
    border: 2px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
nav ul li {
    width: 100%;
    text-align: center;
    margin-left: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a {
   color: #000000;
   text-decoration: none;
   font-size: clamp(10px, 18px, 40px);
   
}
h1{
    position: absolute;
    margin-left: clamp(300px, 50%, 1000px);
    margin-top: clamp(70px, 3vw, 250px);
    font-size: 10dvw;
    color: white;
    z-index: 100;
}
h2{
    position: absolute;
    margin-left: clamp(150px, 18vw, 250px);
    margin-top: clamp(500px, 1000vw, 250px);
    font-size: 5dvw;
    color: white;
    z-index: 100;
}
#baryy{
    font-size: 8dvw;
    margin-left: clamp(250px, 45%, 1000px);
}
#dodo{
    margin-left: clamp(200px, 45%, 1000px);
}
#dodoh2{
    font-size: clamp(30px, 3vw, 70px)
}
#pink{
    height: 100vh;
    width: 100vw;
    background-color: darksalmon;
}
#purple{
    height: 100vh;
    width: 100vw;
    background-color: rgb(23, 106, 22);
}
#yellow{
    height: 100vh;
    width: 100vw;
    background-color: rgb(147, 168, 33);
}
#blue{
    height: 100vh;
    width: 100vw;
    background-color: rgb(122, 207, 233);
}
#orange{
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 159, 5);
}
section{
    display: flex;
    flex-direction: column;
}
.image{
    margin-left: 25%;
    filter: drop-shadow(10px 10px 10px #00000080);
}
#cherry{
    width: 55vw;
    max-width: 400px;
    margin-top: clamp(100px, 5vw, 200px);
/*clam sets awl shi min , prefer, max*/
}
#blueb{
    width: 50vw;
    min-width: 400px;
    max-width: 600px;
}
#avocado{
    width: 40vw;
    max-width: 500px;
    margin-top: 15%;
    min-width: 300px;
    margin-left: clamp(150px, 30%, 200px);
    margin-top: clamp(100px, 5vw, 200px);
}
#banana{
    width: 60vw;
    max-width: 600px;
    margin-left: 20%;
    min-width: 300px;
    margin-left: clamp(150px, 30%, 200px);
    margin-top: clamp(45px, 2vw, 10px);
}

#mango{
    width: 40vw ;
    max-width: 400px;
    margin-left: 20%;
    min-width: 300px;
    margin-left: clamp(150px, 30%, 200px);
    margin-top: clamp(150px, 2vw, 200px);
}
